<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
    <div class="container d-flex align-items-center">
      <div class="contact-info mr-auto">
        <ul>
          <li><i class="icofont-envelope"></i><a href="mailto:ugoform@yahoo.com">itfnigform@yahoo.com</a></li>
          <li><i class="icofont-phone"></i> +123 08136719587</li>
          <li><i class="icofont-clock-time icofont-flip-horizontal"></i> Mon-Fri 9am - 5pm</li>
        </ul>
      </div>
      <div class="cta">
        <a href="/teacher/teacher" class="scrollto"><span class="material-icons mm">
      lock</span></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <!--<h1 class="logo mr-auto"><a href="#header" class="scrollto">MAJESTY</a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="#header" class="logo mr-auto scrollto"><img src="/assets/img/apple-touch-icon.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#services">Online-Curses</a></li>
          <li><a href="#team">ITF-Officials</a></li>
          <li class="drop-down"><a href="">Resources</a>
            <ul>
              <li><a href="#">ITF e-books</a></li>
              <li class="drop-down"><a href="#">ITF pay-portal</a>
                <ul>
                  <li><a href="#">ITF publications</a></li>
                  <li><a href="#">ITF beareucracy</a></li>
                  <li><a href="#">ITF media</a></li>
                  <li><a href="#">2019/2020 Bemore Event</a></li>
                  <li><a href="#">ITF townhall meetings</a></li>
                </ul>
              </li>
              <li><a href="#">Follow on updata and speeches</a></li>
              <li><a href="#">ITF branded</a></li>
              <li><a href="#">ITF Awords</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>