
<!-- ======= https://cssauthor.com/free-material-design-html5-templates/ Where To Get Home Page Material Design Template ======= -->
<!-- https://colorlib.com/wp/html-admin-templates/ Where To Get Admin Page Material Design Template-->
{{> header}}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
<div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

    <!-- Slide 1 -->
    <div class="carousel-item active">
    <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>ITF official site</span></h2>
        <p class="animate__animated animate__fadeInUp">Top of the Day to you! We observed today that a new website for the ITF has recently been uploaded.We Commend the efforts of the ICT Dept for this amd hope that it can only keep getting better</p>
        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
    </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
    <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown"> Finalizing the ITF Reviewed Vision Document</h2>
        <p class="animate__animated animate__fadeInUp">The Director-General/Chief Executive of the Industrial Training Fund (ITF), Sir Joseph N. Ari, unveiling the 2nd phase of the ITF Reviewed Vision document for selected Journalists at the ITF Headquarters, Jos.</p>
        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto" data-toggle="modal" data-target="#contactModal">Read More</a>
    </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
    <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Unveiling the ITF Reviewed Vision Document</h2>
        <p class="animate__animated animate__fadeInUp">The Chairman, Nigerian Union of Journalist (NUJ), Plateau Chapter, Mr. Yusuf Aminu Idegwu, speaking during the interface.</p>
        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
    </div>
    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>

</div>
</section><!-- End Hero -->

<main id="main">

<!-- ======= Icon Boxes Section ======= -->
<section id="icon-boxes" class="icon-boxes">
    <div class="container">

    <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
        <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Research and developement</a></h4>
            <p class="description">An evaluation of inpact of student work industrial work experience scheme(SIWES) on technical skill developement in Nigeria</p>
        </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Student's Log-Book</a></h4>
            <p class="description">ITF UNIDO skill developement Department releases the first version of its unique UNIDO skill developemnt bulletin.</p>
        </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">E-Learning</a></h4>
            <p class="description">Registration is required to have access for enrollement into any course of your choice. Therefore, to register click on the registration Menu at the Right of the Home page and this will redirect you to the registration page.</p>
        </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box">
            <div class="icon"><i class="bx bx-layer"></i></div>
            <h4 class="title"><a href="">ITF 2020 Magazines</a></h4>
            <p class="description">Apublication of industrial training fund, work shop for on strategic procurment management for orgainization effectiveness</p>
        </div>
        </div>

    </div>

    </div>
</section><!-- End Icon Boxes Section -->

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">
        <div class="itf_petronizers text-center">
            <h5 class="itf_text ">ITF Petronizers</h5>
        </div>
    <div class="owl-carousel clients-carousel">
        <img src="assets/img/clients/client-1.png" alt="">
        <img src="assets/img/clients/client-2.png" alt="">
        <img src="assets/img/clients/client-3.png" alt="">
        <img src="assets/img/clients/client-4.png" alt="">
        <img src="assets/img/clients/client-5.png" alt="">
        <img src="assets/img/clients/client-6.png" alt="">
        <img src="assets/img/clients/client-7.png" alt="">
        <img src="assets/img/clients/client-8.png" alt="">
    </div>

    </div>
</section><!-- End Clients Section -->

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container-fluid">

    <div class="row">

        <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("assets/img/why-us.jpg");' data-aos="fade-right">
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch" data-aos="fade-left">

        <div class="content">
            <h3>The Speech Coverage Of<strong>The Director General Of ITF (Year 2020)</strong></h>
        </div>

        <div class="accordion-list">
            <ul>
            <li data-aos="fade-up" data-aos-delay="100">
                <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span>  D-G Speech By The D-G/CE Of The ITF,During his Courtesy Visit on the Governor of Kaduna State  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                <p>
                    I feel highly honoured and indeed privileged to be
                    received in audience by His Excellency, the Executive
                    Governor of Kaduna State, Mallam Nasiru Ahmed El-Rufa’I despite other pressing matters
                    of state.
                    Before I continue, I wish to, on behalf of Management and the entire staff of the Fund.</p>
                </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
                <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span>  TEXT OF AN ADDRESS BY THE D-G OF THE ITF, SIR JOSEPH N. ARI,DURING THE 8TH MANAGEMENT RETREAT<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                <p>
                    It is with great delight and gratitude to God Almighty for journey mercies from our
                    various locations that I welcome the elite of the Fund’s workforce.
                </p>
                </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
                <a data-toggle="collapse" href="#accordion-list-3" class="collapsed"><span>03</span>  D-G Speech By The D-G/CE Of The ITF,During his Courtesy Visit on the Governor of Kaduna State <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                <p>
                    I feel highly honoured and indeed privileged to be
                    received in audience by His Excellency, the Executive
                    Governor of Kaduna State, Mallam Nasiru Ahmed El-Rufa’I despite other pressing matters
                    of state.
                    Before I continue, I wish to, on behalf of Management and the entire staff of the Fund. 
                </p>
                </div>
            </li>,

            </ul>
        </div>

        </div>

    </div>

    </div>
</section><!-- End Why Us Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>Online-Curses</h2>
        <p>Enroll for Online Courses. Advance Your Career. Improve Your Life..  </p>
    </div>

    <div class="row">
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box">
            <i class="icofont-computer"></i>
            <h4><a href="#">Software Developement</a></h4>
            <p>fuel your feuture throgh learnibg expert systems as a software developement </p>
        </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box">
            <i class="icofont-chart-bar-graph"></i>
            <h4><a href="#">Net-Working</a></h4>
            <p>Enroll into ITF networking package. Build a solid dependable feuture and fit in </p>
        </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box">
            <i class="icofont-image"></i>
            <h4><a href="#">Digital Marketing</a></h4>
            <p>learn how to market your product with any digital platform of your choice to improve yor market</p>
        </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="400">
        <div class="icon-box">
            <i class="icofont-settings"></i>
            <h4><a href="#">Enterprenuaral Learning</a></h4>
            <p>Enroll to learn about product manufacturing and distribution. Have the ability to manufacture for others </p>
        </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="500">
        <div class="icon-box">
            <i class="icofont-earth"></i>
            <h4><a href="#">Robotic and framming</a></h4>
            <p>Be a Guru in artificial inteligence. enroll to have the knowledge and know the technology behind the contruction and welding of robots</p>
        </div>
        </div>
    </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container">

    <div class="row" data-aos="zoom-in">
        <div class="col-lg-9 text-center text-lg-left">
        <h3>ITF-Up-comming Events</h3>
        <p>Take a view on our upcoming Event.. Bringing to Your door step the most packeged and prepered subsequent planned events.Get ready to explore the benefit of these new upcommong activities</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="#">Up-comming Events</a>
        </div>
    </div>

    </div>
</section><!-- End Cta Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>ITF Officials</h2>
    </div>

    <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
            <h4>Walter White</h4>
            <span>ITF Director general</span>
            <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
        <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
            <h4>Sarah Jhonson</h4>
            <span>Product Manager</span>
            <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="300">
        <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
            <h4>William Anderson</h4>
            <span>CTO</span>
            <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="400">
        <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
            <h4>Amanda Jepson</h4>
            <span>Accountant</span>
            <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
            </div>
        </div>
        </div>

    </div>

    </div>
</section><!-- End Team Section -->

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>Frequently Asked Questions</h2>
    </div>

    <div class="faq-list">
        <ul>
        <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
            <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
            </p>
            </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-parent=".faq-list">
            <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
            </p>
            </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-parent=".faq-list">
            <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
            </p>
            </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-parent=".faq-list">
            <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
            </p>
            </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="500">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-parent=".faq-list">
            <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.
            </p>
            </div>
        </li>

        </ul>
    </div>

    </div>
</section><!-- End Frequently Asked Questions Section -->

<!-- ======= Contact Section ======= -->
</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{> footer}}
