<div class="col-sm-6" style="margin-top: 10px;">
    <div class="breadcrumbs-area clearfix">
        <ul class="breadcrumbs pull-left">
            <li><a href="/">Home</a></li>
            <li><span>Login</span></li>
        </ul>
    </div>
</div>
<div class="container" style="padding:110px 50px 5px 50px;">
    <h5 style="font-weight: bolder;">Login to check qualification status</h5>
    <form name="login_user" id="login_user" style="margin-top: 30px;">
        <div class="alert alert-danger" id="alert_Login_email" role="alert" style="display: none;"></div>
        <div class="alert alert-danger" id="alert_Login_password" role="alert" style="display: none;"></div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
</form>
</div>