    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container" id="id_brd">

        <ol>
          <li><a href="/">Home</a></li>
          <li id="f_f_f">Form</li>
        </ol>
        <a href="/"><img src="/assets/img/favicon.png"></a>

      </div>
    </section><!-- End Breadcrumbs -->
<!-- https://freefrontend.com/bootstrap-login-forms/ -->
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container">
            <!-- Navbar Brand -->
            <a href="#" class="navbar-brand">
                <img src="/assets/img/about-bg.png" alt="logo" width="150">
            </a>
        </div>
    </nav>
<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1>Log in to an account</h1>
            <p class="font-italic text-muted mb-0">If your are a curse adviser OR Aadmin !!</p>
            <p class="font-italic text-muted">Log in with your.. <strong>
                <u>E-mail and your university id</u></strong>
            </p>
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto f_f" id="f_curse_adviser">
            <div class="teacher_text text-center pb-4">
                <h4 class="_text"> Log in! Curse Adviser</h4>
            </div> 
            <form name="curse_adviser_login_form" id="curse_adviser_login_form" class="curse_adviser_login_form">
                <div class="alert alert-danger" id="adviser_restrictor_alert" role="alert"></div>
                <div class="row">

                    <!-- First Name -->
                    <!-- <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="firstName" type="text" name="firstname" placeholder="First Name" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="lastName" type="text" name="lastname" placeholder="Last Name" class="form-control bg-white border-left-0 border-md">
                    </div>  --> <!-- Last Name -->

                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input id="email_curs_adviser" type="email" name="email" placeholder="Email Address" class="form-control bg-white border-left-0 border-md general_validator" autocomplete="current-password">
                    </div>

                   
                   <!-- <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                        </div>
                        <select id="countryCode" name="countryCode" style="max-width: 80px" class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted">
                            <option value="">+12</option>
                            <option value="">+10</option>
                            <option value="">+15</option>
                            <option value="">+18</option>
                        </select>
                        <input id="phoneNumber" type="tel" name="phone" placeholder="Phone Number" class="form-control bg-white border-md border-left-0 pl-3">
                    </div> --> <!-- Phone Number -->


                   
                    <!-- <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-black-tie text-muted"></i>
                            </span>
                        </div>
                        <select id="job" name="jobtitle" class="form-control custom-select bg-white border-left-0 border-md">
                            <option value="">Choose your job</option>
                            <option value="">Designer</option>
                            <option value="">Developer</option>
                            <option value="">Manager</option>
                            <option value="">Accountant</option>
                        </select>
                    </div> --> <!-- Job -->

                    <!-- Password -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="password_curs_adviser" type="password" name="password" placeholder="Password" class="form-control bg-white border-left-0 border-md general_validator" autocomplete="current-password">
                    </div>

                    
                    <!-- <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="passwordConfirmation" type="text" name="passwordConfirmation" placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md">
                    </div> --><!-- Password Confirmation -->

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" id="curse_adviser_submit_btn">Log in with your credencials</button>
                    </div>
                        <div class="loadingio-spinner-dual-ring-7mynrudab03" id="spiner_adviser"><div class="ldio-tx3mavxo44">
                            <div></div><div><div></div></div>
                        </div></div>
                    <!-- Divider Text -->
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>

                    <!-- Social Login -->
                   <!-- <div class="form-group col-lg-12 mx-auto">
                        <a href="#" class="btn btn-primary btn-block py-2 btn-facebook">
                            <i class="fa fa-facebook-f mr-2"></i>
                            <span class="font-weight-bold">Continue with Facebook</span>
                        </a>
                        <a href="#" class="btn btn-primary btn-block py-2 btn-twitter">
                            <i class="fa fa-twitter mr-2"></i>
                            <span class="font-weight-bold">Continue with Twitter</span>
                        </a>
                    </div> -->

                    <!-- Already Registered -->
                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Are you an admin? <button type="button" class="btn btn-primary btn-sm" id="btn_adviser_navigator">Login</button></p>
                    </div>

                </div>
            </form>
        </div>

        <!-- Log in form for admin -->
        <div class="col-md-7 col-lg-6 ml-auto f_f" id="f_admin">
            <div class="teacher_text text-center pb-4">
                <h4 class="_text"> Log in! Admistrator</h4>
            </div> 
            <form name="admin_login_form" id="admin_login_form" class="admin_login_form">
                <div class="alert alert-danger" id="admin_restrictor_alert" role="alert"></div>
                <div class="row">
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input id="email_admin" type="email" name="email" placeholder="Email Address" class="form-control bg-white border-left-0 border-md">
                    </div>
                

                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="password_admin" type="password" name="password" placeholder="Password" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" id="admin_submit_btn">Log in with your credencials</button>
                    </div>
                    <div class="loadingio-spinner-dual-ring-7mynrudab03" id="spiner_admin"><div class="ldio-tx3mavxo44">
                        <div></div><div><div></div></div>
                    </div></div>

                    <!-- Divider Text -->
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>

                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Are you a curse adviser? <button type="button" class="btn btn-primary btn-sm" id="btn_admin_navigator">Login</button></p>
                    </div>
                </div>
            </form>
        </div>

        <!-- Registeration Form for Qualified Students -->
        <div class="col-md-7 col-lg-6 ml-auto f_f" id="qualified_students">
            <div class="teacher_text text-center pb-4">
                <h4 class="_text">Qualified student registration form</h4>
            </div> 
            <form name="qualified_student_form" id="qualified_student_form" class="qualified_student_form">
                <div class="alert alert-warning" role="alert" id="alert_role"></div>
                <div class="alert alert-danger" role="alert" id="field_div"></div>
                <div class="row">
                    <!-- First Name -->
                     <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend" id="first_name_icon">
                            <span class="input-group-text bg-white px-4 border-md border-right-0" id="first_name_ic">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="student_first_name" type="text" name="first_name" placeholder="Surname" class="form-control bg-white border-left-0 border-md add_class">
                    </div>

                     <!-- Last Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="student_last_name" type="text" name="last_name" placeholder="Other Names" class="form-control bg-white border-left-0 border-md add_class">
                    </div> 

                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input id="student_email" type="email" name="email" placeholder="Student Email Address" class="form-control bg-white border-left-0 border-md add_class">
                    </div>

                    <!-- Registration Number-->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input type="text" id="student_reg_number" name="reg_no" placeholder="Registration Number" class="form-control bg-white border-left-0 border-md add_class">
                    </div>  

                   <!-- Phone Number -->
                   <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                        </div>
                        <select id="countryCode" name="countryCode" style="max-width: 80px" class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted">
                            <option value="">+234</option>
                            <option value="">+127</option>
                            <option value="">+444</option>
                            <option value="">+223</option>
                        </select>
                        <input id="student_phone_number" type="text" name="phone_number" placeholder="Phone Number" class="form-control bg-white border-md border-left-0 pl-3 add_class">
                    </div>  
                   
                    <!-- Job -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-graduation-cap text-muted"></i>
                            </span>
                        </div>
                        <select id="college" name="college" class="form-control custom-select bg-white border-left-0 border-md add_class">
                            <option value="" disabled selected>Collage / Faculty</option>
                            <option value="COLPAS">COLPAS</option>
                            <option value="COLMAS">COLMAS</option>
                            <option value="CAFST">CAFST</option>
                            <option value="CEET">CEET</option>
                            <option value="CCSS">CCSS</option>
                            <option value="VET">VET</option>
                            <option value="CASE">CASE</option>
                            <option value="CNREM">CNREM</option>
                            <option value="CAERSE">CAERSE</option>
                            <option value="CASAP">CASAP</option>
                        </select>
                    </div>

                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-graduation-cap text-muted"></i>
                            </span>
                        </div>
                        <select id="department" name="department" class="form-control custom-select bg-white border-left-0 border-md add_class">
                            <option value="" disabled selected>department</option>
                        </select>
                    </div>

                    <!-- Date -->
                    <div class="input-group col-lg-6 mb-4">
                        <input type="date" id="datepicker" class="form-control bg-white border-md border-left-0 pl-3 add_class">
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button type="submit" id="qualified_student_submit_btn" class="btn btn-primary btn-lg btn-block">Log in with your credencials</button>
                    </div>

                    <!-- Divider Text -->
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>

                    <!-- Social Login -->
                    <div class="form-group col-lg-12 mx-auto">
                        <a href="#" class="btn btn-primary btn-block py-2 btn-facebook">
                            <i class="fa fa-facebook-f mr-2"></i>
                            <span class="font-weight-bold">Continue with Facebook</span>
                        </a>
                        <a href="#" class="btn btn-primary btn-block py-2 btn-twitter">
                            <i class="fa fa-twitter mr-2"></i>
                            <span class="font-weight-bold">Continue with Twitter</span>
                        </a>
                    </div>

                    <!-- Already Registered -->
                    <div class="text-center w-100">
                        <button type="button" class="btn btn-danger btn-sm" id="student_close_form">X CLOSE</button></p>
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>
{{> footer}}