.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

/*body {
    min-height: 100vh;
}*/
.breadcrumbs{
    margin-top: 0px !important;
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
    
}

#datepicker::placeholder{
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}

select:invalid { 
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
 }
 #adviser_restrictor_alert{
     display: none;
 }
 #admin_restrictor_alert{
     display: none;
 }

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}
.f_f{
    border: 0.3px solid rgb(240, 236, 236);
    margin-top: -65px;
    padding-top:60px;
    padding-bottom: 25px;
}
/*._text{
    font-family: 'Source Code Pro', monospace;
}*/
#datepicker{
    border-left: 2px solid rgb(223, 221, 221) !important;
}
@media (max-width: 541px) { 
    .f_f{
        border: none !important;
        margin-top: -65px;
        padding-top:10px;
        padding-bottom: 25px;
    }
 }
 @media (min-width: 1200px) { 
     .f_f{
         margin-right: 4%;
     }
 }

 /*  FOR SPINER */

@keyframes ldio-tx3mavxo44 {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-tx3mavxo44 div { box-sizing: border-box!important }
.ldio-tx3mavxo44 > div {
  position: absolute;
  width: 102px;
  height: 102px;
  top: -1px;
  left: -1px;
  border-radius: 50%;
  border: 10px solid #000;
  border-color: #c8c4c5 transparent #c8c4c5 transparent;
  animation: ldio-tx3mavxo44 0.7s linear infinite;
}
.ldio-tx3mavxo44 > div:nth-child(2) { border-color: transparent }
.ldio-tx3mavxo44 > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-tx3mavxo44 > div:nth-child(2) div:before, .ldio-tx3mavxo44 > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: -10px;
  left: 36px;
  background: #c8c4c5;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #c8c4c5;
}
.ldio-tx3mavxo44 > div:nth-child(2) div:after { 
  left: -10px;
  top: 36px;
  box-shadow: 92px 0 0 0 #c8c4c5;
}
.loadingio-spinner-dual-ring-7mynrudab03 {
  width: 31px;
  height: 31px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
  margin-left: 77%;
  margin-top: -6.9%;
}
.ldio-tx3mavxo44 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.31);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-tx3mavxo44 div { box-sizing: content-box; }
/* generated by https://loading.io/ */
@media (max-width: 575.98px) {
    .loadingio-spinner-dual-ring-7mynrudab03{
        margin-left: 80.5%;
        margin-top: -10.9%;
        width: 29px;
        height: 29px;
    }
 }
 @media (max-width: 768px) {
    .loadingio-spinner-dual-ring-7mynrudab03{
        margin-left: 80.5%;
        margin-top: -10.9%;
        width: 29px;
        height: 29px;
    }
 }