.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

/*body {
    min-height: 100vh;
}*/
.breadcrumbs{
    margin-top: 0px !important;
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
    
}

#datepicker::placeholder{
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}

select:invalid { 
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
 }
 #adviser_restrictor_alert{
     display: none;
 }
 #admin_restrictor_alert{
     display: none;
 }

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}
.f_f{
    border: 0.3px solid rgb(240, 236, 236);
    margin-top: -65px;
    padding-top:60px;
    padding-bottom: 25px;
}
/*._text{
    font-family: 'Source Code Pro', monospace;
}*/
#datepicker{
    border-left: 2px solid rgb(223, 221, 221) !important;
}
@media (max-width: 541px) { 
    .f_f{
        border: none !important;
        margin-top: -65px;
        padding-top:10px;
        padding-bottom: 25px;
    }
 }
 @media (min-width: 1200px) { 
     .f_f{
         margin-right: 4%;
     }
 }